$main-font: "Roboto", sans-serif;
$second-font: arial, sans-serif;
$main-font-size: clamp(0.75rem, 1.25vw, 1rem);
$bigger-font-size: 2rem;
$img-size: 15vw;
$main-color: #d64200;
$background-color: white;
$upload-color: #77767e;
$border-radius: 8px;
$border-color: rgb(214 66 0 / 40%);
